.todoGroup {
    background-color: #dbe7fc;
    margin: 0 50px 0 50px;
    border: 1px solid black;
    padding: 30px 0 30px 0;
}
.icon {
    font-size: 20px;
}
.margin-left {
    margin-left: 24px;
}
.finish-icon {
    color: green;
}
.text {
    float: left;
}
.ant-card-body {
    padding: 0 !important;
}
.context {
    padding: 0 16px 0 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	text-align: left;
    overflow: hidden;
    word-wrap: break-word;
	flex: 6;
}
.float {
	flex: 1;
    float: right;
}
.modal {
    margin: 30px;
}
.line-through {
	text-decoration: line-through;
}